<header>
    <h1>
        <span class="logo-icon"></span>
        <span>InvApp</span>
    </h1>
    <nav>
        <ul>
            <li><a href="/">See all categories</a></li>
            <li><a href="/all">See all items</a></li>
            <li><a href="/additem">Add a new item</a></li>
            <li><a href="/addcategory">Add a new category</a></li>
        </ul>
    </nav>
</header>